{% extends "base.html" %}
{% block title %}ADS I - Module 1{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3 id="form-title">Activity 1 - About student activity sheet</h3>
						</div>
						<div>
							<div>
								<p id="form-description"></p>
							</div>
						</div>
					</div>
				</div>
			</div><br>
			<div>
				<form action="/submitactivity/1/1" method="POST" class="col-md-7">
				  <div class="form-group form-question well well-sm">
				    <label for="q1" class="form-question-text">Do you understand the process of filling up the student activity sheet?</label>
				    <!-- <input type="email" class="form-control form-question-input" id="q1" aria-describedby="emailHelp" placeholder="Enter email"> -->
				    <div class="radio">
					  <label>
					    <input type="radio" name="Do you understand the process of filling up the student activity sheet?" id="optionsRadios1" value="Yes, I can fill the sheet without any support from the mentors">
					    Yes, I can fill the sheet without any support from the mentors
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="Do you understand the process of filling up the student activity sheet?" id="optionsRadios2" value="No, I need mentor to help me understand how to fill out the form">
					    No, I need mentor to help me understand how to fill out the form
					  </label>
					</div>
				    <small id="q1desc" class="form-text text-muted form-question notes"></small>
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<!-- <div class="col-md-5">
					<h4 class="text-center">Your Submission</h4>
					<hr>
					<div class="well well-sm"></div>
				</div> -->
			</div>
        </div>
    </div>
{% endblock %}