<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta name="google-signin-client_id" content="891614416155-5t5babc77fivqfslma1c3u6r2r9fp1o1.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
  <div id="throbber" style="display:none; min-height:120px;"></div>
  <div id="noty-holder"></div>
  <div id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-10 navbar-header">
            <button type="button" class="col-sm-2 navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="col-sm-10 col-md-12 navbar-brand">
                <h4><a style="color: white" href="/">Algorithms and Data Structures - 1</a></h4>
            </div>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li id="signin" class="dropdown">
                <div id="my-signin2"></div>
            </li>
         </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="/module/1">
                      <!-- <i class="fa fa-fw fa-search"></i> --> 
                      Module 1 
                      <!--<i class="fa fa-fw fa-angle-down pull-right"></i> -->
                    </a>
                    <!-- <ul id="submenu-1" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.1</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.3</a></li>
                    </ul> -->
                </li>
                <li>
                    <a href="/module/2">Module 2</a>
                </li>
                <li>
                    <a href="/module/3">Module 3</a>
                </li>
                <li class="align-bottom">
                    <a id="showinstructions" href="#">Instructions</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    {% block body %}{% endblock %}
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript" src="/scripts/module.js"></script>
  <script type="text/javascript">
    function onSuccess(googleUser) {
      $("#signin").html('<div style="color:white; padding:0px; margin-top:15px">'+googleUser.getBasicProfile().getName()+'<small> &nbsp;&nbsp;(<a onclick="signOut();" style="color:white" href="#">Logout</a>)</small></div>');
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 100,
        'height': 30,
        'longtitle': false,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        // $("#signin").html('<div id="my-signin2" data-onsuccess="onSignIn"></div>');
        location.href = "/"
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>