{% extends "base.html" %}
{% block title %}ADS I - Module 1{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3>Module 1 - Introduction to Algorithms, Dynamic Connectivity and Quick Find - Student Activity Sheet</h3>
						</div>
						<div>
							<div>
								<p>This module begins with an orientation on Algorithms and Data Structures by Praveen Garimella from 9:00 AM to 10:30 AM.</p>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-sm-12 col-md-12 alert alert-warning">
							<div>
								<h4>Instructions</h4><hr>
							</div>
							<div>
								<div>
									<p>Before you begin the activities run the below command from the extracted videos dump</p><br>
									<p>If you are using Python 2.x</p>
									<pre>python -m SimpleHTTPServer</pre>
									<p>(OR)</p>
									<p>If you are using Python 3.x</p>
									<pre>python -m http.server</pre>									
								</div>
							</div>
							<div class="text-right">
								<button type="button" class="btn btn-sm btn-primary" data-dismiss="alert" aria-label="Close">Done</button>
							</div>
						</div>
						<div class="col-sm-12 col-md-12">
							<div>
								<h4>List of Activities</h4><hr>
							</div>
							<div class="col-md-6">
								<table class="table table-responsive table-hover table-bordered">
									<thead>
								      <tr>
								        <th>S No.</th>
								        <th>Activity</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>1</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSe66wUxLa1zapLW-6heUzxBWp4QdpntilCYih-0T5AZZyVYzg/viewform?usp=sf_link" target="_blank">About student activity sheet</a></td>
								      </tr>
								      <tr>
								        <td>2</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSesKkY033q7HeuEyp2c9gmcaN60LAGRyKnKNIefCYlIt3hTzA/viewform?usp=sf_link" target="_blank">Summarize the orientation lecture</a></td>
								      </tr>
								      <tr>
								        <td>3</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScZQtGCaxvdxQiYfJOIAgGWuoNjafn9Fx7A-n1FZnXscRnIFg/viewform?usp=sf_link" target="_blank">Watch video on Course Introduction</a></td>
								      </tr>
								      <tr>
								        <td>4</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSe8dq_KFhLJ0GEM4WFAc6P6rh89esKaEltSqcys_SJ2bBf1hA/viewform?usp=sf_link" target="_blank">Watch video on Dynamic Connectivity</a></td>
								      </tr>
								      <tr>
								        <td>5</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSf6GAgmLIr6QjBE_wdQe77MT2c8Oa1Ga1Koiv-ESsn6peHXog/viewform?usp=sf_link" target="_blank">Participate in the Code Review on Dynamic Connectivity</a></td>
								      </tr>
								      <tr>
								        <td>6</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSdsUVEUmbFtjInVzFlU7_k5hybvau0FGxvqZ2o8hPTnv0yQNA/viewform?usp=sf_link" target="_blank">Watch the video on Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>7</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSd-qHwz093i-baIXajEXnOaj5pnULNGVz4O36fYJg4c3dUgEg/viewform?usp=sf_link" target="_blank">Participate in the code review on Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>8</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSfNzXNQX8LKTCbvolykFI0OQONNZeXncJ9chupsSmTKve9nEA/viewform?usp=sf_link" target="_blank">Solve the problem using Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>9</td>
								        <td><a href="https://docs.google.com/forms/d/e/1FAIpQLSftqimGrL_4xr__QsKGCNVW-jHlMHaNi1opbYZUADCQJawgVQ/viewform?usp=sf_link" target="_blank">Code Quick-Find</a></td>
								      </tr>
								    </tbody>
								</table>	
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}