{% extends "base.html" %}
{% block title %}ADS I - Module 1{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12" id="content">
					<div>
						<div>
							<h3>Module 1 - Introduction to Algorithms, Dynamic Connectivity and Quick Find - Student Activity Sheet</h3>
						</div>
						<div>
							<div>
								<p>This module begins with an orientation on Algorithms and Data Structures by Praveen Garimella from 9:00 AM to 10:30 AM.</p>
							</div>
						</div>
					</div><br>
					<div class="row">
						<div class="col-md-6">
							<div>
								<h4>Instructions</h4><hr>
							</div>
							<div>
								<div>
									<p>Before you begin the activities run the below command from the extracted videos dump</p>
									<pre>python -m SimpleHTTPServer</pre>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<h4>List of Activities</h4><hr>
							</div>
							<div>
								<table class="table table-responsive table-hover table-bordered">
									<thead>
								      <tr>
								        <th>S No.</th>
								        <th>Activity</th>
								      </tr>
								    </thead>
								    <tbody>
								      <tr>
								        <td>1</td>
								        <td><a href="https://goo.gl/forms/YcWVtlnd7UOJCed73" target="_blank">About student activity sheet</a></td>
								      </tr>
								      <tr>
								        <td>2</td>
								        <td><a href="https://goo.gl/forms/o6JwkD0sGMJWZfm43" target="_blank">Summarize the orientation lecture</a></td>
								      </tr>
								      <tr>
								        <td>3</td>
								        <td><a href="https://goo.gl/forms/tHr8QuG9EE84KWqE3" target="_blank">Watch video on Course Introduction</a></td>
								      </tr>
								      <tr>
								        <td>4</td>
								        <td><a href="https://goo.gl/forms/5Af3ZSlTP1XPF3qJ2" target="_blank">Watch video on Dynamic Connectivity</a></td>
								      </tr>
								      <tr>
								        <td>5</td>
								        <td><a href="https://goo.gl/forms/oOhtQfsa7POlmK4s1" target="_blank">Participate in the Code Review on Dynamic Connectivity</a></td>
								      </tr>
								      <tr>
								        <td>6</td>
								        <td><a href="https://goo.gl/forms/cQpwGjgMGVRyTVj72" target="_blank">Watch the video on Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>7</td>
								        <td><a href="https://goo.gl/forms/iOujYipSvHWSI4Kl1" target="_blank">Participate in the code review on Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>8</td>
								        <td><a href="https://goo.gl/forms/BxASpj2zaeIGwKNL2" target="_blank">Solve the problem using Quick-Find</a></td>
								      </tr>
								      <tr>
								        <td>9</td>
								        <td><a href="https://goo.gl/forms/6WHuqFPSHOc9Mlsk2" target="_blank">Code Quick-Find</a></td>
								      </tr>
								    </tbody>
								</table>	
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock %}